<h1>ember-md</h1>

<p>
  Everything below this was generated from Markdown. These components were written
  in MD files with both the template and the backing JS in the same file!
</p>

<hr>

<Counter />

<TemplateOnly />

<TryIt />
